html {
    width: 800px;
    height: 500px;
}

body {
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

img#image {
    align-items: center;
}

thead th {
    font-size: 18px;
    color: darkblue;
}

tfoot td {
    font-size: 16px;
    color: darkblue;
    text-align: center;
    background-color: yellow;
}

tbody td {
    font-size: 16px;
}

div#Mode {
    position: relative;
    top: 15px;
}

div #url {
    font-size: 20px;
    color: rgb(194, 41, 41);
}

div p#password_title {
    position: relative;
    top: 30px;
}

div canvas {
    position: relative;
    top: 30px;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button#Connect_button {
    position: relative;
    left: 40px;
    width: 100px;
}

button#Auth_button {
    position: relative;
    top: 10px;
    left: 300px;
    width: 150px;
}

button span {
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 30px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

select option:first-child {
    color: blue;
}